*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Clase03/DemoPlantilla/nbproject/private/
/Clase03/DemoPlantilla/build/
/Clase03/DemoPlantilla/dist/
/Clase03/WebApplication1/nbproject/private/
/Clase03/WebApplication1/build/